/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least full viewport height */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding-top: 20px;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


h2,h3 {
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 10px;
}

main {
    flex: 1; /* Allow the main content to take up available space */
}

.search-form{
    display: flex;
    flex-direction: row;
}

form {
    min-width: 20%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #555; /* Change hover color for better visibility */
}

footer {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    padding-top: 18px;
    background-color: #333;
    color: white;
    bottom: 0%;
    margin-top:auto;
}

p {
    text-align: center;
    margin-top: 15px;
}

/* Profile Section */
.profile {
    position: absolute;
    right: 20px;
    top: 20px;
}

.profile-btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.profile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
}

.profile-menu a:hover {
    background-color: #f4f4f4;
}

.profile-menu a:last-child {
    border-bottom: none;
}

