/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Profile Section */
.profile {
    position: absolute;
    right: 20px;
    top: 20px;
}

.profile-btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.profile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
}

.profile-menu a:hover {
    background-color: #f4f4f4;
    color: #444;
}

.profile-btn a:hover {
    color: #444;
}

.profile-menu a:last-child {
    border-bottom: none;
}


/* Main content styles */
main {
    padding: 20px;
}

.contact {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formtxt {
    display: flex;
    flex-direction: column;
}

.txt {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

textarea {
    resize: vertical; /* Allow vertical resizing only */
    min-height: 100px; /* Set a minimum height */
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #033b76;
}

/* Form response */
#form-response {
    margin-top: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

